{% extends 'tasks/base.html'%}
{% block content %}
            <main>
                <div class="add">
                    {% if not request.user.is_authenticated %}<p style="padding-top: 20px; padding-bottom: 20px;">Для просмотра этой страницы необходимо войти в аккаунт</p>
                    {% elif has_team %}<p style="padding-top: 20px; padding-bottom: 20px;">Вы уже состоите в команде! Для создания новой необходимо покинуть текущую команду.</p>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="add-container">
                          <p>Пожалуйста, заполните эту форму для создания команды</p>
                          <hr>
                            <div class="add-form">
                                {{ form.as_p }}
<!--                                <label for="login"><b>Login</b></label>-->
<!--                                <input type="text" placeholder="Введите логин" name="login" required>-->

<!--                                <label for="email"><b>Email</b></label>-->
<!--                                <input type="text" placeholder="Введите email" name="email" required>-->
<!--                            -->
<!--                                <label for="psw"><b>Пароль</b></label>-->
<!--                                <input type="password" placeholder="Введите пароль" name="psw" required>-->
<!--                            -->
<!--                                <label for="psw-repeat"><b>Повторите пароль</b></label>-->
<!--                                <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>-->
                                <hr>

                                <button type="submit" class="addbutton">Создать команду</button>
                            </div>
                        </div>
                      </form>
                    {% endif %}
                </div>
            </main>
{% endblock %}