{% extends 'tasks/base.html'%}
{% block content %}
            <main>
                <div class="welcome">
                    <h3>Что такое CTF?</h3>
                    <p>Capture the Flag (CTF) – это соревнования, предлагающие уникальную возможность участникам погрузиться в захватывающий мир кибербезопасности и стать настоящими хакерами на время. Во время CTF участники соревнуются в решении различных заданий, представляющих собой проблемы, с которыми сталкиваются специалисты по информационной безопасности. Суть сводиться к поиску особым способом отформатированной строки – «флага». </p>
                    <br>
                    <p>Мы приглашаем студентов и всех неравнодушных сразиться в захватывающей схватке и решить различные головоломки, найти скрытые уязвимости, разгадать стеганографические сообщения и многое другое. CTF — это возможность войти в захватывающий мир кибербезопасности, испытать свои силы и стать частью сообщества. Подготовьтесь к приключению и докажите свои навыки в соревнованиях. </p>
                    <br>
                    <p>Изначально CTF был сильно похож на игру «Зарница» – противостояние двух команд, у каждой из которых есть флаг. Цель игры – захватить чужой флаг и не дать захватить свой. Однако с годами CTF довольно сильно поменялся: сейчас CTF может означать соревнования, которые совсем не похожи на захват флага.
                    </p>
                </div>

                <div class="welcome">
                    <h3>Какого вида бывают?</h3>
                    <h4>Attack/Defense</h4>
                        <p>В этом виде соревнований участники должны защищать свои собственные серверы с флагами для получения очков за защиту и атаковать сервера противников для получения очков за захваченные флаги.</p>
                        <br>
                        <h4>Task-based или Jeopardy</h4>
                        <p>Это наиболее популярный тип CTF, в котором представлены различные практические задачи в области компьютерной безопасности, отнесённые к различным категориям. Сложность отличается от задания к заданию, каждое конкретное задание имеет количество очков, которые будут начислены команде или отдельному участнику при сдаче правильного флага. Обычно наибольшее количество очков начисляется первым командам или участникам, решившим задание, с увеличением числа решивших задание, его стоимость будет уменьшаться.</p>
                </div>

                <div class="welcome">
                    <h3>Категории заданий в task-based/Jeopardy CTF</h3>
                    <p><ul>
                        <li><i>Web.</i> Эта категория заданий направлена на поиск и эксплуатацию уязвимостей в веб-приложениях. </li>
                        <li><i>Pwn.</i> Эта категория заданий направлена на поиск и эксплуатацию уязвимостей в приложениях.</li>
                        <li><i>Reverse.</i> Обычно необходимо исследовать двоичный или исполняемый файл. Участникам необходимо найти флаг путем декомпиляции, дизассемблирования с использованием статического или динамического анализа или других инструментов обратной разработки.</li>
                        <li><i>Forensics.</i> Участникам необходимо исследовать какие-либо данные: анализ перехваченного трафика, дампа памяти и т.д.</li>
                        <li><i>Crypto.</i> Задания сфокусированы на шифровании и дешифровании различных типов шифрования: перестановочный шифр, шифр Цезаря и многие другие.</li>
                        <li><i>Programming.</i> Задания на программирование и автоматизацию каких-либо задач.</li>
                        <li><i>Network.</i> Задания, направленные на анализ сетевого трафика, знание сетевых протоколов.</li>
                        <li><i>Stegano.</i> Задания на стеганографию, искусство сокрытия конфиденциальной информации в обычном, несекретном файле или сообщении так, чтобы она не была обнаружена.</li>
                        <li><i>Admin.</i> Обычно это задания, связанные с работой системного администратора: виртуализация, восстановление данных и т.д.</li>
                        <li><i>OSINT.</i> Разведка по открытым источникам (Open Source Intelligence). Участникам необходимо найти информацию в открытых источниках, используя различные инструменты, публичные записи, социальные сети для поиска информации.
                        </li>
                        <li><i>Misc.</i> Все, что не указано в списке, но все еще имеет отношение к кибербезопасности, подпадает под категорию Misc. Многие разнообразные задачи совершенно случайны и оригинальны, для их решения требуются просто логика, знания и терпение. Нет надежного способа подготовиться к ним.</li>
                    </ul></p>
                </div>
            </main>
{% endblock %}